.treeBranchItem {   
    cursor: pointer; 
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;  

    .locked {
        cursor: not-allowed; 
    }

    li { list-style: none; }

    .assigned {
        background-color: #f0f0f0;
    }
}




