<div class="row">
  <div class="col-md-6">
    <h2 class="page-title">Resources</h2>
  </div>
  <div class="col-md-6">
  </div>
</div>
<div class="card card-transparent">
  <div class="card-block">
    <form>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-search" aria-hidden="true"></i>
          </div>
          <input type="text" class="form-control" name="searchString" placeholder="Type to search..." [(ngModel)]="searchString" >
        </div>
      </div>
    </form>
    <div class="table-responsive">
      <table class="table table-hover table-condensed" id="condensedTable">
        <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Category</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let resourceLibraryAsset of resourceLibraryAssets | filterResourceLibraryAssetsPipe : searchString" (click)="cmdOpenResource($event, resourceLibraryAsset)">
          <td class="v-align-middle semi-bold">{{resourceLibraryAsset.name | truncate : 50}}</td>
          <td class="v-align-middle">{{resourceLibraryAsset.description | truncate : 50}}</td>
          <td class="v-align-middle semi-bold">{{resourceLibraryAsset.resourceCategory ? resourceLibraryAsset.resourceCategory.name : 'None'}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>