.groupItem {
    cursor: pointer; 
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;  
}

li { list-style: none; }

.groupLocked {
    cursor: not-allowed; 
}    