<div class="col-md-12">
  <!-- START card -->
    <form novalidate (ngSubmit)="cmdSave()" [formGroup]="courseForm">

    <div class="card card-transparent">
    <div class="card-block">
      <h4 class="card-title">{{pageTitle}}</h4>

        <h5>Course Information</h5>
            <div class="form-group-attached">
              <div class="row clearfix" [ngClass]="{'has-error': displayMessage.organisationName}">
                  <div class="col-md-12">
                      <div class="form-group form-group-default" >
                          <label class="control-label" for="name">Name *</label>
                          <input class="form-control" id="name" type="text" placeholder="Name (required)" formControlName="name" />
                          <span class="help-block" *ngIf="displayMessage.name">{{displayMessage.name}}</span>
                      </div>
                  </div>
              </div>
              <div class="row clearfix">
                  <div class="col-md-12">
                      <div class="form-group form-group-default" >
                          <label class="control-label" for="description">Description</label>
                          <input class="form-control" id="description" type="text" placeholder="Description" formControlName="description" />
                      </div>
                  </div>
              </div>
              <div class="row clearfix">
                <div class="col-md-12">
                    <div class="form-group form-group-default" >
                        <label class="control-label" for="extRefCourseNum">Ext Ref Course ID</label>
                        <input class="form-control" id="extRefCourseNum" type="text" placeholder="Ext. Ref Course ID" formControlName="extRefCourseNum" />
                    </div>
                </div>
              </div>
            <div class="row clearfix">
                <div class="col-md-12">
                    <div class="form-group form-group-default" [ngClass]="{'has-error': displayMessage.organisationId}">
                        <label class="control-label" for="cboOrganisation">Organisation *</label>
                        <select id="cboOrganisation" class="form-control" name="cboOrganisation" formControlName="organisationId" (change)="cmdChangeOrg()">
                            <option *ngFor="let org of orgs" [value]="org.organisationId">{{org.organisationName}}</option>
                        </select>
                        <span class="help-block" *ngIf="displayMessage.organisationId">{{displayMessage.organisationId}}</span>
                    </div>
                </div>
            </div>
              <div class="row clearfix">
                <div class="col-md-12">
                    <div class="form-group form-group-default">
                        <label class="control-label" for="extRefCourseNum">Course Category</label>
                        <span>{{selectedCourseCategory? selectedCourseCategory?.name : 'None'}} </span><button type="button" class="btn btn-primary btn-sm  " (click)="cmdSelectCourseCategory()" [disabled]="!courseForm.get('organisationId').value">Select</button>
                    </div>
                </div>
              </div>
              <div class="row clearfix">
                <div class="col-md-12">
                    <div class="form-group form-group-default" [ngClass]="{'has-error': displayMessage.status}">
                        <label class="control-label" for="status">Status</label>
                        <select id="status" class="form-control" name="status" formControlName="status">
                            <option value="0">Pending</option>
                            <option value="1">Active</option>
                            <option value="2">Inactive</option>
                        </select>
                        <span class="help-block" *ngIf="displayMessage.status">{{displayMessage.status}}</span>
                    </div>
                </div>
              </div>

              <div class="row clearfix">
                <div class="col-md-12">
                    <div class="form-group form-group-default">
                        <label class="control-label" for="extRefCourseNum">Course Prerequisites</label>
                        <ul style="padding-left: 15px;">
                            <li *ngFor="let prerequisites of coursePrerequisistes">
                              {{prerequisites.prerequisiteCourseName}}
                            </li>
                          </ul>
                        
                        <button type="button" class="btn btn-primary btn-sm  " (click)="cmdSelectCoursePrerequisite()" [disabled]="!courseForm.get('organisationId').value">Select</button>
                    </div>
                </div>
              </div>

            </div>
    </div>
  </div>
  <!-- END card -->
<button type="submit" class="btn   btn-primary" [disabled]="!courseForm.valid">Save</button>
<button type="button" class="btn   btn-danger" *ngIf="pageTitle.indexOf('Add') == -1" (click)="cmdDelete()">Delete</button>
<button type="button" class="btn   btn-default" (click)="cmdCancel()">Cancel</button>
</form>
</div>
<br>