<li>

    <span class="list-group-item list-group-item-action groupItem noselect" (click)="cmdSelect(group)">    <i [ngClass]="expanded ? 'fa fa-caret-down fa-lg' : 'fa fa-caret-right fa-lg'" *ngIf="group.subGroups.length" (click)="cmdExpand()"></i>
{{group.name}} <button type="button" class="btn btn-primary  " (click)="cmdSelectGroup($event, group)">Select</button></span>

    <i class="fa fa-circle-o" aria-hidden="true" *ngIf="secondarySelected && this.groupItemService.showSecondarySelection"></i>
    
    <ul *ngIf="group.subGroups.length" [hidden]="!expanded">
        <self-assessment-group-selection-item *ngFor="let subGroupItem of group.subGroups" [group]="subGroupItem"></self-assessment-group-selection-item>
    </ul>
</li>