<div class="row">
  <div class="col-md-9">
    <h2>Introduction Course Template    <span class="label label-success">Published</span> </h2>

  </div>
  <div class="col-md-3">
    <button type="submit" class="btn   btn-primary pull-right" >Edit Template</button>

  </div>
</div>

<h5>Template Description</h5>

<div class="card">
  <div class="card-block">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut porta ultricies est id ornare. Aenean ut lorem eu urna accumsan molestie vitae a libero. Pellentesque scelerisque ex a porttitor placerat. Donec sollicitudin condimentum ligula, id pretium turpis varius in. Proin convallis tortor vitae odio cursus, ac ullamcorper eros porttitor. Integer dolor risus, luctus sed eros at, convallis iaculis nunc. Nunc fringilla suscipit ipsum, eu suscipit augue auctor id. Donec vitae auctor est, id porta purus. Suspendisse faucibus sapien suscipit dapibus interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pulvinar purus id sem blandit, vel iaculis lacus bibendum. Quisque sed rutrum leo. Fusce pellentesque odio venenatis eros ultricies venenatis.</p>
        </div>
      </div>

 </div>
  </div>
</div>

<h5>Modules <button type="button" class="btn btn-primary btn-sm  ">Add Module</button>
  <button type="button" class="btn   btn-secondary">Edit Template Module Order</button>
  <button type="button" class="btn   btn-primary">Done</button></h5>
<div class="card">
  <div class="card-block">

    <div class="card-body">
      <table class="table table-striped">
        <thead>
        <th>Module</th>
        <th>Pages</th>
        <th>Questionaires</th>
        <th>Action</th>
        <th></th>
        </thead>
        <tr>
          <td><b>Module 1</b></td>
          <td><span class="badge badge-success">2</span></td>
          <td><span class="badge badge-success">2</span></td>
          <td><button type="button" class="btn btn-default btn-sm">Edit</button></td>
          <td width="20%" >
            <div class="btn-toolbar m-t-10" role="toolbar">
              <div class="btn-group btn-group-xs">
                <button type="button" class="btn btn-default">
                  <i class="fa fa-arrow-down"></i>
                </button>
                <button type="button" class="btn btn-default">
                  <i class="fa fa-arrow-up"></i>
                </button>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td><b>Module 2</b></td>
          <td><span class="badge badge-success">2</span></td>
          <td><span class="badge badge-success">2</span></td>
          <td><button type="button" class="btn btn-default btn-sm">Edit</button></td>
          <td width="20%" >
            <div class="btn-toolbar m-t-10" role="toolbar">
              <div class="btn-group btn-group-xs">
                <button type="button" class="btn btn-default">
                  <i class="fa fa-arrow-down"></i>
                </button>
                <button type="button" class="btn btn-default">
                  <i class="fa fa-arrow-up"></i>
                </button>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>


<button type="button" class="btn   btn-default" [routerLink]="['/courses']">Back</button>

<br><br>