<div class="card">
  <div class="card-body text-center">
    <h1 class="error-number">404</h1>
    <h2 class="semi-bold">Sorry but we couldnt find this page</h2>
    <p class="p-b-10">This page you are looking for does not exsist <a href="#">Report this?</a>
    </p>
    <div class="error-container-innner text-center">
  
    </div>
  </div>
</div>

  <!-- <div class="panel panel-danger">
    <div class="panel-heading">Oops</div>
    <div class="panel-body">
      <div style="margin-left: auto; margin-right: auto; display:block; text-align:center"><h1>404 Error - Page Not Found.</h1>
        <img src="assets/404.png" style="margin-left: auto; margin-right: auto; display:block; max-height:400px" />
        <h3>Click <a [routerLink]='["/home"]'>here</a> to return back to the home page.</h3>
      </div>
    </div>
  </div> -->
  
  
  