	<div class="header ">
        <!-- START MOBILE SIDEBAR TOGGLE -->
        <a href="javascript:void(0);" class="btn-link toggle-sidebar hidden-lg-up pg pg-menu"  data-toggle="sidebar" (click)="toggleMobileSidebar()">
        </a>
        
        <!-- END MOBILE SIDEBAR TOGGLE -->
        <div class="d-flex align-items-center">
        <ul class="d-lg-inline-block d-none notification-list no-margin d-lg-inline-block b-grey b-l b-r no-style p-l-15 p-r-10">
            <li class="p-r-10 inline">
                <div class="dropdown" dropdown >
                    <a id="notification-center" class="header-icon fa fa-bell" dropdownToggle>
                        <span class="bubble" *ngIf="containsUnreadMsg"></span>
                    </a>
                    <!-- START Notification Dropdown -->
                    <div *dropdownMenu class="dropdown-menu notification-toggle" >
                        <!-- START Notification -->
                        <div class="notification-panel">
                            <!-- START Notification Body-->
                            <div class="notification-body ">
                                  <!-- START Notification Item-->
                                <div class="notification-item  clearfix" *ngFor="let item of latestNotifications"  (click)="cmdGotoDetailPage(item)">
                                    <!-- START Notification Item-->
                                    <div class="heading">

                                        <a href="javascript:void(0)" class="pull-left" [ngClass]="{
                                            'text-success' : item.priority < 3 && !item.read,
                                            'text-danger' : item.priority === 3 && !item.read,
                                            'text-warning-dark' : item.priority > 3 && !item.read 
                                        }">
                                            <i class="fa m-r-10" [ngClass]="item.priority<3 ? 'fa-info fs-16' : 'fa-exclamation-triangle' "></i>
                                            <span class="bold">{{item.subject}}</span>
                                        </a>
                                        <div class="pull-right">
                                            <div class="thumbnail-wrapper d16 circular inline m-t-15 m-r-10 toggle-more-details">
                                            <div class="toggleContentArrow" (click)="toggleContent($event)"><i class="fa fa-angle-left"></i>
                                            </div>
                                            </div>
                                            <span class="time">{{item.sentDate | timeAgo}}</span>
                                        </div>

                                        <div class="more-details">
                                            <div class="more-details-inner">
                                                    <h5 class="semi-bold fs-16">
                                                        {{item.body}}
                                                    </h5>
                                                   
                                            </div>
                                        </div>

                                    </div>
                                    <!-- END Notification Item-->
                                    <!-- START Notification Item Right Side-->
                                    <div class="option" data-toggle="tooltip" data-placement="left" title="mark as read">
                                    <a href="javascript:void(0)" class="mark" [ngClass]="{
                                        'text-success' : item.priority < 3 && !item.read ,
                                        'text-danger' : item.priority === 3 && !item.read,
                                        'text-warning-dark' : item.priority > 3 && !item.read 
                                    }"></a>
                                    </div>
                                    <!-- END Notification Item Right Side-->
                                </div>

                            </div>
                            <!-- END Notification Body-->
                            <!-- START Notification Footer-->
                            <div class="notification-footer text-center">
                                <a *ngIf="!isEmptyNotification; else emptyCase" [routerLink]="['/notifications']">See More
                                </a>
                                <ng-template #emptyCase><h5>No Notifications</h5></ng-template>
                            </div>
                            <!-- START Notification Footer-->
                        </div>
                    </div>
                    <!-- END Notification Dropdown -->
                </div>
            </li>
        </ul>


          <!-- START User Info-->
          <div class="pull-left p-r-10 p-l-10 fs-14 font-heading hidden-md-down">
            <span class="semi-bold">{{displayName}}</span>
          </div>
          <div dropdown class="dropdown pull-right hidden-md-down">
            <button class="profile-dropdown-toggle" type="button" dropdownToggle id="profileDropdown">
              <span class="thumbnail-wrapper d32 circular inline">
              <img src="assets/img/profiles/avatar.jpg" alt="" data-src="assets/img/profiles/avatar.jpg" data-src-retina="assets/img/profiles/avatar_small2x.jpg" width="32" height="32">
              </span>
            </button>
            <div class="dropdown-menu dropdown-menu-right profile-dropdown" *dropdownMenu role="menu">
             <!-- <a [routerLink]="['/users/settings']" class="dropdown-item"><i class="pg pg-settings_small"></i> Settings</a> -->
              <a [routerLink]="['/users/profile/', userId]" class="dropdown-item"><i class="pg pg-outdent"></i> Profile</a>
              <a class="clearfix bg-master-lighter dropdown-item" (click)="logOut()">
                <span class="pull-left" >Logout</span>
                <span class="pull-right"><i class="pg pg-power"></i></span>
              </a>
            </div>
          </div>
          <!-- END User Info-->
        </div>
  </div>