<div class="row">
  <div class="col-md-6">
    <h2>{{pageTitle}}</h2>
  </div>
  <div class="col-md-6">
    <!--CONTROL SECTION -->
    <div class="float-right">
      <button type="button" class="btn   btn-secondary" (click)="cmdExpandAll()">
        <i class="fa fa-angle-double-down"></i> Expand All</button>
      <button type="button" class="btn   btn-secondary" (click)="cmdHideAll()">
        <i class="fa fa-angle-double-up"></i> Hide All</button>
      <button type="button" class="btn   btn-primary" (click)="cmdAddCategory()" [hidden]="showEditCard">Add Category</button>

    </div>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <div class="card padding-20">
      <div class="card-block">

        <div class="form-group form-group-default">
          <label class="control-label" for="cboOrganisation">Organisation</label>
          <select id="cboOrganisation" class="form-control" name="cboOrganisation" [(ngModel)]="selectedOrganisation" (change)="cmdChangeOrg()"
            [disabled]="showEditCard">
            <option *ngFor="let org of orgs" [ngValue]="org">{{org.organisationName}}</option>
          </select>
        </div>
        
        <ul>
        <!-- categories Component rendered recursively. -->  
          <course-category-item *ngFor="let category of categories" [category]="category"></course-category-item>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-6">
    <course-category-edit [showEditCard]="showEditCard" [selectedCategory]="selectedCategory" [parentCategory]="parentCategory" (onFinishEditEvent)="onFinishEditEvent($event)" (onSelectParent)="onSelectParent($event)"></course-category-edit>
  </div>
</div>