<li>

    <span class="list-group-item list-group-item-action groupItem noselect" [ngClass]="{'active text-white':selected, 'groupLocked': !this.resourceCategoryItemService.allowClick || (this.resourceCategoryItemService.showSecondarySelection && this.selected), 'bg-secondary text-white':secondarySelected && this.resourceCategoryItemService.showSecondarySelection}" (click)="cmdSelect(category)">    <i [ngClass]="expanded ? 'fa fa-caret-down fa-lg' : 'fa fa-caret-right fa-lg'" *ngIf="category.subResourceCategories.length" (click)="cmdExpand()"></i>
{{category.name}} <i class="fa fa-arrow-right" aria-hidden="true" *ngIf="this.selected"></i></span>

    <i class="fa fa-circle-o" aria-hidden="true" *ngIf="secondarySelected && this.resourceCategoryItemService.showSecondarySelection"></i>
    <ul *ngIf="category.subResourceCategories.length" [hidden]="!expanded">
        <resource-category-item *ngFor="let subCategoryItem of category.subResourceCategories" [category]="subCategoryItem"></resource-category-item>
    </ul>
</li>