<div id="gjs"></div>
 <!-- <hr />
<p>
  <button type="button" class="btn btn-primary btn-rounded" (click)="cmdGetHTML()">Get HTML</button>
  <button type="button" class="btn btn-primary btn-rounded" (click)="cmdGetData()">Get Data</button>
  <button type="button" class="btn btn-primary btn-rounded" (click)="cmdLoadData()">Load Data</button>
</p>

<hr />

<div id="extractSection" #extractSection style="border: silver 1px solid; min-height: 100px;"></div> -->
<div>
  <button type="button" class="btn btn-primary" (click)="cmdSave()">Save Page</button>
  <button type="button" class="btn btn-defautl" (click)="cmdCancel()">Cancel</button>
</div>
