<div class="row">
  <div class="col-md-6">
    <h2 class="page-title">{{ pageTitle }}</h2>
  </div>
  <div class="col-md-6">
  </div>
</div>
<div class="card" *ngIf="!showThanks">
  <div class="card-body" [formGroup]="feedbackForm">
    <div class="row">
      <h5 class="p-3">Do you have any suggestions or feedback about TILT Suite? Please write your comments below.</h5>
    </div>
    <div class="row clearfix" [ngClass]="{'has-error': displayMessage.title}">
      <div class="col-md-12">
        <div class="form-group form-group-default">
          <label class="control-label" for="title">Summary *</label>
          <input class="form-control" id="title" type="text" placeholder="Title (required)" formControlName="title" />
          <span class="help-block" *ngIf="displayMessage.title">{{displayMessage.title}}</span>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-md-12">
        <div class="form-group form-group-default">
          <label class="control-label" for="description">Description</label>
          <textarea class="form-control" id="description" type="text" placeholder="Description" formControlName="description" style="min-height: 200px;"></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <button type="submit" class="btn   btn-primary" [disabled]="!feedbackForm.valid" (click)="cmdSave()">Submit Feedback</button>
    </div>
  </div>
</div>
<div class="card text-center" *ngIf="showThanks">
  <div class="card-body" style="min-height: 300px">
    <h4>Thank you for your feedback.</h4><br />
    <button type="button" class="btn btn-primary  " (click)="cmdReturn('dashboard')" *ngIf="isLoggedIn()">Return to Dashboard</button>
    <button type="button" class="btn btn-primary  " (click)="cmdReturn('home')" *ngIf="!isLoggedIn()">Return to Home Page</button>
  </div>
</div>