  <div class="row">
    <div class="card card-transparent" [hidden]="courseAdhocAssignmentId>0">
      <div class="card-block">
          <div class="form-group form-group-default">
              <label class="control-label" for="cboOrganisation">Organisation</label>
              <select id="cboOrganisation" class="form-control" name="cboOrganisation" [(ngModel)]="selectedOrganisation" (change)="cmdChangeOrg()">
                <option *ngFor="let org of orgs" [ngValue]="org">{{org.organisationName}}</option>
              </select>
            </div>
            
          <form>
              <div class="form-group">
                  <div class="input-group">
                      <div class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></div>
                      <input type="text" class="form-control" name="searchString" placeholder="Type to search..." [(ngModel)]="searchString">
                  </div>
              </div>
          </form>
    
          <div class="table-responsive course-list-container">
              <table class="table table-hover table-condensed" id="condensedTable">
                  <thead>
                  <tr>
                      <th>Name</th>
                      <th>Description</th>
                      <th>Ext Reference Num</th>
                      <th>Status</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let course of courses | filterCourses: searchString; let odd=odd; let even=even;" [ngClass]="{'alternateRow': odd}" [ngStyle]="{'background-color': course.courseId === selectedCourseId ? '#fef6dd' : '' }" (click)="selectCourse(course)">
                      <td class="v-align-middle semi-bold">{{ course.name }}</td>
                      <td class="v-align-middle">{{ course.description }}</td>
                      <td class="v-align-middle">{{ course.extRefCourseNum }}</td>
                      <td class="v-align-middle semi-bold"><span class="label" [ngClass]="{'label-success': course.status === 1, 'label-info': course.status === 0, 'label-danger': course.status === 2 }">{{course.status | courseStatusNamePipe}}</span></td>
                  </tr>
                  </tbody>
              </table>
          </div>
      </div>
    </div>
  </div>
  
  <div class="row" [formGroup]="adhocForm">
    <div class="col-12">
      <div class="card padding-20">
        <div class="card-block">
  
          <div class="row">
            <div class="col-6">
              <h5>Repeat Frequency</h5>
              <div class="form-group form-group-default" [ngClass]="{'has-error': displayMessage.repeatInterval}">
                <label class="col-md-6 control-label" for="repeatInterval">Number</label>
                <div class="col-md-6">
                  <input class="form-control" id="repeatInterval" type="number" placeholder="Number" formControlName="repeatInterval" />
                  <span class="help-block" *ngIf="displayMessage.repeatInterval">{{displayMessage.repeatNumber}}</span>
                </div>
              </div>
              <div class="form-group form-group-default" [ngClass]="{'has-error': displayMessage.repeatUnit}">
                <label class="control-label" for="repeatUnit">Unit *</label>
                <select id="repeatUnit" class="form-control" name="repeatUnit" formControlName="repeatUnit">
                  <option value="never">Never repeat</option>
                  <option value="days">Days</option>
                  <option value="weeks">Weeks</option>
                  <option value="months">Months</option>
                  <option value="years">Years</option>
                </select>
                <span class="help-block" *ngIf="displayMessage.repeatUnit">{{displayMessage.repeatUnit}}</span>
              </div>
            </div>
            <div class="col-6">
              <h5>Dates</h5>
              <div class="form-group form-group-default" [ngClass]="{'has-error': displayMessage.startDate}">
                <label class="col-md-6 control-label" for="startDate">Start Date *</label>
                <div class="col-md-6">
                  <input class="form-control" id="startDate" type="text" placeholder="State Date" formControlName="startDate" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY' }" />
                  <span class="help-block" *ngIf="displayMessage.startDate">{{displayMessage.startDate}}</span>
                </div>
              </div>
              <div class="form-group form-group-default" [ngClass]="{'has-error': displayMessage.endDate}">
                <label class="col-md-6 control-label" for="endDate">End Date</label>
                <div class="col-md-6">
                  <input class="form-control" id="endDate" type="text" placeholder="Due Date" formControlName="endDate" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY' }" />
                  <span class="help-block" *ngIf="displayMessage.endDate">{{displayMessage.endDate}}</span>
                </div>
              </div>
              <div class="form-group form-group-default" [ngClass]="{'has-error': displayMessage.dueDate}">
                <label class="col-md-6 control-label" for="dueDate">Due Date *</label>
                <div class="col-md-6">
                  <input class="form-control" id="dueDate" type="text" placeholder="Due Date" formControlName="dueDate" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY' }" />
                  <span class="help-block" *ngIf="displayMessage.dueDate">{{displayMessage.dueDate}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
    <!--  <staff-basket-selector #staffBasketSelector shelfTitle="Available Staff" basketTitle="Selected Staff" (isDirty)="staffbasketSelectorIsDirtyEventHandler($event)" (searchStringChanged)="searchStringChangedEventHandler($event)"></staff-basket-selector> -->
        
    </div>
  </div>
  <div class="row">
    <div class="col-6">
        <button type="button" class="btn btn-default" (click)="cmdBack()">Back</button>
    </div>
    <div class="col-6">
      <div class="pull-right">
        <button type="button" class="btn btn-danger" [hidden]="courseAdhocAssignmentId === 0 " (click)="cmdDeleteCourseAdhocAssignments()">Delete</button>
        <button type="button" class="btn btn-primary" [disabled]="!adhocForm.valid "
          (click)="cmdSaveCourseAdhocAssignments()">Save Changes</button>
      </div>
    </div>
  </div>
  <br/>
  <br/>