<div class="row">
  <div class="col-md-6">
      <h2 class="page-title">{{ pageTitle }}</h2>
  </div>
  <div class="col-md-6">
      <button type="button" class="btn   btn-primary m-b-10 pull-right" (click)="cmdAddOrganisation()"><span class="glyphicon glyphicon-plus"></span> Add Organisation</button>
  </div>
</div>
<div class="card card-transparent">
  <div class="card-block">
    <div class="table-responsive">
      <table class="table table-hover table-condensed" id="condensedTable">
        <thead>
          <tr>
            <th>ID</th>
            <th>Organisation Name</th>
            <th>Description</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let org of organisations; let odd=odd; let even=even;" [ngClass]="{'alternateRow': odd}" (click)="cmdEditOrganisation(org.organisationId)">
            <td class="v-align-middle">{{ org.organisationId }}</td>  
            <td class="v-align-middle semi-bold">{{ org.organisationName }}</td>
            <td class="v-align-middle semi-bold">{{ org.description }}</td>
            <td class="v-align-middle"><button type="button" class="btn   btn-secondary m-b-10" [routerLink]="['/groups/', org.organisationId]" (click)="$event.stopPropagation()">Open Groups</button></td>
          </tr>
        </tbody>
      </table>
      
    </div>
  </div>
</div>