<div class="col-md-12">
  <!-- START card -->
  <div class="card card-transparent">
    <div class="card-block">
      <h4 class="card-title">{{pageTitle}}</h4>

        <form novalidate (ngSubmit)="cmdSave()" [formGroup]="orgForm">
            <div class="form-group-attached">
              <div class="row clearfix" [ngClass]="{'has-error': displayMessage.organisationName}">
                  <div class="col-md-12">
                      <div class="form-group form-group-default" >
                          <label class="control-label" for="txtName">Name</label>
                          <input class="form-control" id="organisationName" type="text" placeholder="Name (required)" formControlName="organisationName" />
                          <span class="help-block" *ngIf="displayMessage.organisationName">{{displayMessage.organisationName}}</span>
                      </div>
                  </div>
              </div>
              <div class="row clearfix">
                  <div class="col-md-12">
                      <div class="form-group form-group-default" >
                          <label class="control-label" for="description">Description</label>
                          <input class="form-control" id="txtDescription" type="text" placeholder="Description" formControlName="description" />
                      </div>
                  </div>
              </div>
            </div>
            <br>
            <button type="submit" class="btn   btn-primary" [disabled]="!orgForm.valid">Save</button>
            <button type="button" class="btn   btn-danger" *ngIf="pageTitle.indexOf('Add') == -1" (click)="cmdDelete()">Delete</button>
            <button type="button" class="btn   btn-default" [routerLink]="['/settings/organisations']">Cancel</button>
        </form>
      
    </div>
  </div>
  <!-- END card -->
</div>